<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            {{ if .Site.Data.contact.phone }}
            <li><strong>Phone: </strong>{{ .Site.Data.contact.phone }}</li>
            {{ end }}
            {{ if .Site.Data.contact.email }}
            <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
                {{ .Site.Data.contact.email }}</a></li>
              {{ end }}
          </ul>
          <ul>
            <li><a href="https://github.com/leonardobravi">App realizzata da Leonardo Bravi</a></li>
            <li>-</li>                    
            <li><a href="https://gdip.io">Website made with &hearts; by gdip.io</a></li>          
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>